<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>
 
  <!--BULBASAUR -->
    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip color="light" slot="start">
          <ion-label color="grass">Nº001</ion-label>
        </ion-chip>


        <ion-label>
          
          <div>
            <h2>Bulbasaur</h2>
            <ion-badge color="grass">Grass</ion-badge>
            <ion-badge color="poison">Poison</ion-badge>
          </div>


        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
     <!-- FINAL BULBASAUR -->

  
    <!-- Squirtle -->
     <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip color="light" slot="start">
          <ion-label color="walter">Nº007</ion-label>
        </ion-chip>


        <ion-label>
          
          <div>
            <h2>Squirtle</h2>
            <ion-badge color="walter">Walter</ion-badge>
            
          </div>


        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

<!-- final Squirtle -->
  
   <!-- Charmander -->
   <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="fire">Nº004</ion-label>
      </ion-chip>


      <ion-label>
        
        <div>
          <h2>Charmander</h2>
          <ion-badge color="fire">Fire</ion-badge>
          
        </div>


      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>


    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

<!-- final Charmander -->

 <!-- pikachu -->
 <ion-item-sliding>
  <ion-item color="dark">

    <ion-chip color="light" slot="start">
      <ion-label color="eletric">Nº025</ion-label>
    </ion-chip>


    <ion-label>
      
      <div>
        <h2>Pikachu</h2>
        <ion-badge color="eletric">eletric</ion-badge>
        
      </div>


    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
    </ion-thumbnail>


  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- final pikachu -->

<!-- Charizard -->
<ion-item-sliding>
  <ion-item color="dark">

    <ion-chip color="light" slot="start">
      <ion-label color="fire">Nº006</ion-label>
    </ion-chip>


    <ion-label>
      
      <div>
        <h2>Charizard</h2>
        <ion-badge color="fire">Fire</ion-badge>
        
      </div>


    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png">
    </ion-thumbnail>


  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- final Charizard -->

<!-- metapod -->
<ion-item-sliding>
  <ion-item color="dark">

    <ion-chip color="light" slot="start">
      <ion-label color="bug">Nº011</ion-label>
    </ion-chip>


    <ion-label>
      
      <div>
        <h2>Metapod</h2>
        <ion-badge color="bug">Bug</ion-badge>
        
      </div>


    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/011.png">
    </ion-thumbnail>


  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- final metapod -->

<!-- Beedril -->
<ion-item-sliding>
  <ion-item color="dark">

    <ion-chip color="light" slot="start">
      <ion-label color="bug">Nº015</ion-label>
    </ion-chip>


    <ion-label>
      
      <div>
        <h2>Beedril</h2>
        <ion-badge color="bug">Bug</ion-badge>
        
      </div>


    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/015.png">
    </ion-thumbnail>


  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- finalBeedril -->

<!-- Meowth -->
<ion-item-sliding>
  <ion-item color="dark">

    <ion-chip color="light" slot="start">
      <ion-label color="normal">Nº052</ion-label>
    </ion-chip>


    <ion-label>
      
      <div>
        <h2>Meowth</h2>
        <ion-badge color="normal">normal</ion-badge>
        
      </div>


    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/052.png">
    </ion-thumbnail>


  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- final Meowth -->

<!-- Kadabra -->
<ion-item-sliding>
  <ion-item color="dark">

    <ion-chip color="light" slot="start">
      <ion-label color="psychic">Nº064</ion-label>
    </ion-chip>


    <ion-label>
      
      <div>
        <h2>Kadabra</h2>
        <ion-badge color="psychic">psychic</ion-badge>
        
      </div>


    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/064.png">
    </ion-thumbnail>


  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- final Kadabra -->

<!-- Machop -->
<ion-item-sliding>
  <ion-item color="dark">

    <ion-chip color="light" slot="start">
      <ion-label color="fighting">Nº066</ion-label>
    </ion-chip>


    <ion-label>
      
      <div>
        <h2>Machop</h2>
        <ion-badge color="fighting">fighting</ion-badge>
        
      </div>


    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/066.png">
    </ion-thumbnail>


  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- final Machop -->


</ion-content>
